{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

  <!-- Added for stripe -->
  <!-- <script src="https://js.stripe.com/v3/"></script> -->
  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

  <!-- Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Cuprum|Exo+2|Gudea|Oswald|PT+Sans|Source+Sans+Pro|Varela+Round" rel="stylesheet"/> -->
  <!-- Header -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Acme|Allerta+Stencil|Anton|Archivo+Black|Black+Han+Sans|Candal|Chau+Philomene+One|Coda+Caption:800|Do+Hyeon|Fjalla+One|Francois+One|Jua|Mouse+Memoirs|Paytone+One|Rubik+Mono+One|Russo+One|Secular+One|Tauri|Timmana|Wendy+One" rel="stylesheet"/> -->
  <!-- font-family: 'Source Sans Pro', sans-serif;

  <!-- Google maps autocomplete -->
  <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBd9Nf_Ahth8U-mZMNwACdeR9tOtv2Jos&libraries=places"></script> -->
  <!-- Highlight code snippets JavaScript -->
  <!-- <link rel="stylesheet href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"/> -->
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script> -->
  <!-- Added to make landingpage aware of links around the page. -->
  <!-- <section id="dashboard"></section> -->
  <!-- <script src="frontend/src/components/Navigation/MyNavigation.js"></script> -->
  <title>KOM - Blower</title>
</head>
<body>
<!--   <section class="section">
    <div class="container">
          <div id="app" class="columns"></div>
    </div>
  </section> -->
  <div id="app"></div>
</body>
{% load static %}
<!-- <script src="{% static "frontend/main.js" %}"></script> -->
{% render_bundle 'main' %}
<!-- <script type="text/javascript" src="{% static 'main-e6999ff11ac65d35923a.js' %}"/> -->
</html>